<h2>Rendelj a McDonald's-ból!</h2>
<ul>
  @for (item of products; track $index) {
    <li (click)="addItem(item)">
      <div class="name" >{{item.name}}</div>
      <div><img [src]="item.picture_url" alt=""></div>
      <div class="price" >{{item.price}} Ft</div>
    </li>
    }
</ul>
<hr>

<h1>Fizetendő: {{ TotalMoney }} Ft</h1>

<div class="productsOrder" >
  @for (item of productsInCart; track $index) {
    <app-product-item [product]="item" (quantityChanged)="CalculateMoney()" ></app-product-item>
  }
</div>