ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li{
  border: 1px solid grey;
  max-width: 150px;
  border-radius: 10px;
  margin: 10px;
}

ul img{
  height: 120px;
}

.name{
  text-align: center;
}

.price{
  text-align: center;
}
